{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('.static', filename='chat.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
        <script src="{{ url_for('.static', filename='likes_notification.js') }}"></script>
    <script>
        setInterval(function () {
            let imgs = document.getElementsByClassName('ppp')[0];
            get_new_message(imgs.id);
        }, 1000)
    </script>
{{ moment.include_moment() }}
{% endblock %}

{% block page_content %}
{{ super() }}
    <img id="{{ my_data['uid'] }}" src="/api/v1.0/photo/{{ my_data['phid'] }}/" class="{{ my_data['first_name'] }}" style="display: none">
    <img id="{{ interlocutor_data['uid'] }}" src="/api/v1.0/photo/{{ interlocutor_data['phid'] }}/" class="{{ interlocutor_data['first_name'] }} ppp" style="display: none">
<div id="scroll" class="panel-body">
    <ul id="chat" class="chat">
        {% for message in messages %}
        {% if message['sender'] == session['id'] %}
        <li class="right clearfix"><span class="chat-img pull-right">
            <img src="/api/v1.0/photo/{{ my_data['phid'] }}/" class="img-circle" width="64px" height="64px"/>
        </span>
            <div class="chat-body clearfix">
                <div class="header">
                    <small class=" text-muted">
                        <span class="glyphicon glyphicon-time"></span><span class="message-time">{{ moment(message['message_date']).fromNow() }}</span>
                    </small>
                    <strong class="pull-right primary-font">{{ my_data['first_name'] }}</strong>
                </div>
                <p class="message-right">
                    {{ message['text'] }}
                </p>
            </div>
        </li>
        {% else %}
        <li class="left clearfix"><span class="chat-img pull-left">
            <img src="/api/v1.0/photo/{{ interlocutor_data['phid'] }}/" class="img-circle" width="64px" height="64px"/>
        </span>
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">{{ interlocutor_data['first_name'] }}</strong>
                    <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span><span class="message-time">{{ moment(message['message_date']).fromNow() }}</span>
                    </small>
                </div>
                <p>
                    {{ message['text'] }}
                </p>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="panel-footer">
    <div class="input-group">
        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..."/>
        <span class="input-group-btn">
            <button class="btn btn-warning btn-sm" id="btn-chat" onclick="send_message({{ interlocutor_data['uid'] }})">
                Send</button>
        </span>
    </div>
</div>
{% endblock %}
