{% extends "base.html" %}

{% block page_content %}
    {{ super() }}
    <ul class="list-group">
    {% for contact in contacts %}
        <li class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <a href="chat?uid={{ contact['whoid'] }}">
                    <img class="media-object" src="/api/v1.0/photo/{{ contact['phid'] }}/" width="64px" height="64px" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ contact['first_name'] }} {{ contact['last_name'] }}</h4>
                    Lorem ipsum dolor
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
