{% extends "bootstrap/base.html" %}
{% block title %}YADS{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid " style="margin: 3em; padding: 3em">
    <h1 class="display-4">Welcome to the Yet Another Dating Site!</h1>
    <p class="lead">We are glad that you are trying to find a soul mate
        without worrying about protecting personal data
        and sexually transmitted diseases.</p>
    <hr class="my-4">
    <p>To confirm the transfer of your sphincter to us,
        please click on the link</p>
    <a class="btn btn-primary btn-lg" href="{{ link }}" role="button">
        Confirm Account
    </a>
</div>
{% endblock %}