{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
    {{ super() }}
<div class="page-header">
    <h1> Let's go to search somebody for your criteria </h1>
</div>
    {% if form and not users%}
        {{ wtf.quick_form(form) }}
    {% endif %}
    {% if users %}
        <ul class="list-unstyled">
        {% for user in users %}
            {% if not user.photos %}
            {% else %}
            <li class="media">
            <img src="/test/{{ user.photos[0] }}" class="col-md-2">
            <div class="media-body">
                <a href="user/{{ user.id }}"><h5>{{ user.first_name }} {{ user.last_name }}</h5></a>
                <p>Age: {{ user.age }}</p>
                <p>{{ user.gender }}, search {{ user.sex_pref }}</p>
                <p>Location: {{ user.city }}, {{ user.region }}, {{ user.country }}</p>
                <p>Rating: {{ user.rating }}</p>
                <p>{{ user.biography }}</p>
                <p><span class="glyphicon glyphicon-tags"></span>
                    {% for tag in user.tags %}
                         {{ [tag] }}
                        {% endfor %}
                </p>
                <br><br>
                <a class="btn btn-primary" role="button" href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"> Like</span></a>
            </div>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}