{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='block.js') }}"></script>
{% endblock %}
{% block page_content %}
    {{ super() }}
<div class="page-header">
    <h1> Let's go to search somebody for your criteria </h1>
</div>
    {% if form and not users%}
        {{ wtf.quick_form(form) }}
    {% endif %}
    {% if users %}
        <ul class="list-unstyled">
        {% for user in users %}
            {% if not user.photos %}
            {% else %}
            <li class="media">
            <div class="row" style="background: white; padding: 1em">
            <img src="/api/v1.0/photo/{{ user.photos[0] }}/" class="col-md-4 col-xs-12">
            <div class="media-body" style="padding-left: 1.5em">
                <a href="user/{{ user.id }}"><h5>{{ user.first_name }} {{ user.last_name }}</h5></a>
                <p id="online-{{ user.id }}"></p>
                <p>Age: {{ user.age }}</p>
                <p>{{ user.gender }}, search {{ user.sex_pref }}</p>
                <p>Location: {{ user.city }}, {{ user.region }}, {{ user.country }}</p>
                <p>Rating: {{ user.rating }}</p>
                <p>{{ user.biography }}</p>
                <p><span class="glyphicon glyphicon-tags"></span>
                    {% for tag in user.tags %}
                         {{ [tag] }}
                        {% endfor %}
                </p>
                <br><br>
                <a class="like-button btn btn-primary" role="button" id="like-{{ user.id }}" onclick="like({{ user.id }});"><span class="glyphicon glyphicon-heart" aria-hidden="true"> Like</span></a>
            </div>
            </div>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}